html,
body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2e;
    font-family: sans-serif;
}

canvas {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    background-color: #2a2a2e;
    border: 5px solid white;
    border-radius: 10px;
}

div {
    text-align: center;
}

#resetDiv {
    margin-top: 30px;
}

input {
    -webkit-appearance: none;
    background-color: inherit;
    border: 5px solid white;
    border-radius: 10px;
    width: 220px;
    height: 30px;
    outline: 0 none;
    margin-right: 30px;
}

button {
    background-color: inherit;
    border: 5px solid white;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 220px;
    height: 41px;
    outline: 0 none;
    margin-left: 20px;
}

button:hover,
input:hover {
    border-color: #f92672;
    cursor: pointer;
}

button:hover span {
    color: #f92672;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

video {
    display: block;
    margin: auto;
    margin-top: 40px;
}

h1,
h2,
h3,
label {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

label {
    vertical-align: top;
    font-size: 35px;
    margin-right: 10px;
}

h1 span {
    color: #f92672
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 35px;
    margin-top: 2px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f92672;
}

input:focus+.slider {
    box-shadow: 0 0 2px #f92672;
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}